:host {
  display: block;
  font-weight: 300;
  font-size: 15px;
  background-color: rgb(33, 33, 33);
  padding: 25px;
  box-sizing: border-box;
  text-align: center;

  p {
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.541176);
  }

  a {
    text-decoration: none;
    color: #FFFFFF;
    margin-top: 32px;

    &.github-user {
      color: rgba(255, 255, 255, 0.870588);
    }

    &.github-icon {
      margin-top: 10px;
    }
  }
}


