mat-card {
  max-width: 350px;
  margin: 0 auto;
  text-align: center;

  @media screen and (max-width: 599px) {
    max-width: 100%;
  }
}

mat-form-field {
  button.mat-icon-button.button-input-visibility {
    display: inline;
  }
}
