<mat-card *transloco="let t; read 'signUp'">
  <mat-card-title>
    <h2>{{ t('title') }}</h2>
  </mat-card-title>

  <mat-card-content *transloco="let e; read 'common.error'">
    <form fxFlex fxLayout="column" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>{{ t('username') }}</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="errorService.hasErrors(signUpForm, 'username')">
          <div *ngFor="let error of errorService.getFieldErrors(signUpForm, 'username')">
            {{ e('username.' + error) }}
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ t('password') }}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button
          matSuffix
          mat-icon-button
          (click)="togglePasswordVisibility($event)"
          class="button-input-visibility"
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="errorService.hasErrors(signUpForm, 'password')">
          <div *ngFor="let error of errorService.getFieldErrors(signUpForm, 'password')">
            {{ e('password.' + error) }}
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ t('firstname') }}</mat-label>
        <input matInput formControlName="firstname">
        <mat-error *ngIf="errorService.hasErrors(signUpForm, 'firstname')">
          <div *ngFor="let error of errorService.getFieldErrors(signUpForm, 'firstname')">
            {{ e('firstname.' + error) }}
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ t('lastname') }}</mat-label>
        <input matInput formControlName="lastname">
        <mat-error *ngIf="errorService.hasErrors(signUpForm, 'lastname')">
          <div *ngFor="let error of errorService.getFieldErrors(signUpForm, 'lastname')">
            {{ e('lastname.' + error) }}
          </div>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">
        {{ t('submit') }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
