<div
  fxFlex
  fxLayout="row"
  fxLayout.xs="column"
  fxLayoutAlign="center none"
  fxLayoutGap="50px"
  fxLayoutGap.lt-lg="15px"
  *transloco="let t; read 'home'"
>
  <app-api-card
    fxFlex
    title="&quot;Foo&quot;"
    webpUrl="assets/image/foo.webp"
    fallbackImgUrl="assets/image/foo.jpg"
    [path]="fooUrl"
    [subtitle]="t('fooApi.subtitle')"
    [description]="t('fooApi.description')"
    [available]="true"
  >
  </app-api-card>

  <app-api-card
    fxFlex
    title="&quot;Who am I&quot;"
    webpUrl="assets/image/user.webp"
    fallbackImgUrl="assets/image/user.jpg"
    [path]="whoAmIUrl"
    [subtitle]="t('whoAmIApi.subtitle')"
    [description]="t('whoAmIApi.description')"
    [available]="sessionService.isSignedIn()"
  >
  </app-api-card>

  <app-api-card
    fxFlex
    title="&quot;All users&quot;"
    webpUrl="assets/image/admin.webp"
    fallbackImgUrl="assets/image/admin.jpg"
    [path]="usersUrl"
    [subtitle]="t('usersApi.subtitle')"
    [description]="t('usersApi.description')"
    [available]="sessionService.isSignedIn() && sessionService.isAdmin()"
  >
  </app-api-card>
</div>
