<mat-card>
  <mat-card-title>
    <h2>Change Your Password</h2>
  </mat-card-title>

  <mat-card-content>
    <form fxFlex fxLayout="column" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="standard">
        <mat-label>Old Password</mat-label>
        <input matInput formControlName="oldPassword" required>
        <mat-error>
          <ng-container *ngIf="controls.oldPassword.errors?.notblank; else oldPasswordLength">
            Old password can't be blank
          </ng-container>
          <ng-template #oldPasswordLength>
            <ng-container *ngIf="controls.oldPassword.errors?.maxlength">
              Old password must be between 4 and 20 characters long
            </ng-container>
          </ng-template>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>New Password</mat-label>
        <input matInput formControlName="newPassword" required>
        <mat-error>
          <ng-container *ngIf="controls.newPassword.errors?.notblank; else newPasswordLength">
            New password can't be blank
          </ng-container>
          <ng-template #newPasswordLength>
            <ng-container *ngIf="controls.newPassword.errors?.maxlength">
              New password must be between 4 and 20 characters long
            </ng-container>
          </ng-template>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="changePasswordForm.invalid">
        Change Password
      </button>
    </form>
  </mat-card-content>
</mat-card>
