<mat-card *transloco="let t; read 'login'">
  <mat-card-title>
    <h2>{{ t('title') }}</h2>
  </mat-card-title>

  <mat-card-content *transloco="let e; read 'common.error'">
    <form fxFlex fxLayout="column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div *ngIf="isBadCredentials" fxFlex fxLayoutAlign="start center" class="form-error">
        <mat-icon>error</mat-icon>
        <div>{{ t('badCredentials') }}</div>
      </div>

      <mat-form-field appearance="standard">
        <mat-label>{{ t('username') }}</mat-label>
        <input matInput formControlName="username">
        <mat-error *ngIf="errorService.hasErrors(loginForm, 'username')">
          <div *ngFor="let error of errorService.getFieldErrors(loginForm, 'username')">
            {{ e('username.' + error) }}
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="standard">
        <mat-label>{{ t('password') }}</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
        <button
          matSuffix
          mat-icon-button
          (click)="togglePasswordVisibility($event)"
          class="button-input-visibility"
          type="button"
        >
          <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="errorService.hasErrors(loginForm, 'password')">
          <div *ngFor="let error of errorService.getFieldErrors(loginForm, 'password')">
            {{ e('password.' + error) }}
          </div>
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        {{ t('submit') }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
