mat-card {
  max-width: 350px;
  margin: 0 auto;

  mat-card-title h2 {
    text-align: center;
  }

  .form-error {
    color: #f44336;

    mat-icon {
      margin-right: 5px;
    }
  }

  mat-form-field {
    button.mat-icon-button.button-input-visibility {
      display: inline;
    }
  }

  @media screen and (max-width: 599px) {
    max-width: 100%;
  }
}
