<mat-toolbar color="primary">
  <button mat-button mat-ripple routerLink="/">
    <mat-icon>home</mat-icon>
    Angular-Spring-Starter
  </button>

  <div fxFlex fxHide.lt-sm fxLayoutAlign="end none">
    <button *ngIf="!hasSignedIn()" routerLink="/login" mat-button mat-ripple>
      <mat-icon>account_circle</mat-icon>
      Login
    </button>
    <button *ngIf="!hasSignedIn()" routerLink="/signup" mat-button mat-ripple>
      <mat-icon>person_add</mat-icon>
      Sign up
    </button>
    <app-account-menu *ngIf="hasSignedIn()"></app-account-menu>
  </div>
</mat-toolbar>
